{
  "env": {
    "dev": {
      "apiai": {
        "subscription_key": "",
        "access_token": ""
      }
    },
    "stage": {
      "apiai": {
        "subscription_key": "",
        "access_token": ""
      }
    }
  }
}
